/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

/* Main website font */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f0f4f8;
}

/* Header font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Bitter", serif;
}

